<div class="l-form">
	<%= form_for @task, html: {class: 'form'} do |f| %>

		<%= render 'layouts/error_messages', model: f.object %>

		<div class="form-header">
			<div class="form-title">
				<% if params[:action] === 'new' %>新しいタスクを100文字以内で追加して下さい
				<% elsif params[:action] === 'edit' %>ID<%= @task.id %>のタスクを編集します
				<% end %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :status, 'ステータス' %>
			<%= f.select :status, [['未完了', 1], ['完了', 2]], class: 'form-control', :prompt => '選択して下さい' %>
		</div>
		<div class="form-group">
			<%= f.text_field :content, class: 'form-control' %>
		</div>
		<%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
	<% end %>
</div>