<% if logged_in? %>
<div class="text-center" style="padding:15px; margin: 10px 0;">
  <h2>ログイン済</h2>
  <p class="text-center">ユーザ名: <%= current_user.name %></p>
</div>

<div class="row">
  <aside class="col-md-4" style="margin-bottom:20px;">
    <%= form_for(@todo) do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
      </div>
      <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
    <% end %>
  </aside>
  
  <div class="col-xs-8">
    <ul class="media-list">
      <% @todos.each do |todo| %>
        <%= render 'todos/todolist', todo: todo, user: todo.user %>
      <% end %>
      <!--%= paginate todos %>-->
    </ul>
  </div>
</div>

<% else %>
<div class="center jumbotron" style="margin-top:20px;">
  <div class="text-center">
    <h1>ようこそ、TODO管理アプリへ</h1>
    <%= link_to 'サインアップ', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>