<div class="l-gnav">
	<nav class="gnav">
		<ul class="l-gnav_list">
			<li>
				<div class="gnav_list"><%= link_to 'タスク一覧', tasks_path %></div>
			</li>
			<li>
				<div class="gnav_list"><%= link_to '新規タスク', new_task_path %></div>
			</li>
		</ul>
		
		<ul class="l-gnav_list">
			<li>
				<div class="gnav_list"><%= link_to 'ユーザー一覧', users_path %></div>
			</li>
		</ul>
		
		<ul class="l-gnav_list">
			<li>
				<div class="gnav_list">
					<%= link_to 'サインアップ', signup_path %>
				</div>
			</li>
			<li>
				<div class="gnav_list">
					<%= link_to 'ログイン', '/' %>
				</div>
			</li>
			<li>
				<div class="gnav_list">
					<%= link_to 'ログアウト', '/' %>
				</div>
			</li>
		</ul>
	</nav>
</div>